@font-face {
    font-family: Chulabhorn;
    src: url('../fonts/ChulabhornLikitText-Light.ttf');
    font-weight: normal;
    font-style: normal;
}
body {
    font-family:Chulabhorn !important;
}

.sidebar-menu-scroll {
    height: calc(100% - 100px);
    margin-top: 100px; 
}

.hl-l-bar-1{
    border-left: 4px solid #556ee6 !important;
    border-width: 0px 0px 4px 4px !important;
}

.hl-l-bar-2{
    border-left: 4px solid #34c38f !important;
    border-width: 0px 0px 4px 4px !important;
}

.hl-l-bar-3{
    border-left: 4px solid #f1b44c !important;
    border-width: 0px 0px 4px 4px !important;
}